* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}  

body {
  background-image: linear-gradient(to right, rgb(127, 127, 213), rgb(134, 168, 231), rgb(145, 234, 228));
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  color: white;
}

header {
  font-size: 1.5em;
}

header, form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input, form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}

form button {
  color: #8081d6;
  background: white;
  cursor: pointer;
  transition: all 0.3 ease;
}

form button:hover {
  background: #8081d6;
  color: white;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: white;
  color: black;
  display: flex;
  font-size: 1.5rem;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}

.todo li {
  flex: 1;
}

.trash-btn,
.complete-btn {
  background: #8081d6;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.complete-btn {
  background: #91eae4;
}

.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none; /*Neste caso, o nosso ICON estava com uma class
  e clicando nele nao acionava a acao de delete, para deletar tinha que clicar 
  vermelho nao no ICOn, por isso o uso do pointer-event*/
}

.completed {
  text-decoration: line-through; /*linha atravesada entre as palavras*/
  opacity: 0.5;
}

.fall {
  transform: translateY(8rem) rotateZ(20deg); /*animacao quebrando*/
  opacity: 0; 
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

select {
  color: #8081d6;
  width: 10rem;
  cursor: pointer;
  padding: 1rem;
  
}
.select::after {
  content: "\25BC"; /*code symbols triangle*/
  position: absolute;
  background: #8081d6;
  top: 0;
  right: 0;
  padding: 1rem;
  pointer-events: none;
  transition: all 0.3s ease;
}

.select:hover::after {
  background: white;
  color: #8081d6;
}

